

@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none; /*gets rid of the underline under the text*/
}

nav {
    padding: 1rem 2rem;
}

.navlist {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #4a646c;;
    margin-left: 1rem;

}

.navlist a {
  color: black;
}

main{
  display: flex;
}

.container {
  margin: 0 auto 0 auto; /* top, right, bottom, left; makes the wrapper completely centered in the website and auto is to make it centered */
  width: 1000px;
  height: auto;
}

.intro {
  margin-left: 16rem;
  padding-top: 8rem;
  padding-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #ffa07a;
}

.about {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.about p {
  width: 45%;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #4a646c;
}

footer {
  display: flex;
  justify-content: center;
}

/* NOTE: project page */

/* .project-page {
  width: 45%;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  margin-left: 6rem;
  font-family: 'Montserrat', sans-serif;
  justify-content: flex-end;
} */

.right-side{
    display: block;
    width: 35%;
    margin-right: 5rem;
    margin-left: 1rem;
    padding-top: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.left-side {
    display:block;
    width: 30%;
    margin-left: 3rem;
    margin-right:3rem;
    padding-top: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

aside {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.aside-content {
  padding-bottom: 9rem;
}

h3 {
  padding-top: 2rem;
  font-size: 22px;
  font-weight: 500;
  color: #ffa07a;
}


.aside-content a {
  color: #E6DA9D;
  font-size: 14px;
  font-weight: 600;
}

.aside-content p {
  padding-top: 1rem;
}
