@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none; /*gets rid of the underline under the text*/
}

nav {
    padding: 1rem 2rem;
}

.navlist {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #ffa07a;;
    margin-left: 1rem;

}

.navlist a {
  color: #ffa07a;
}

/* NOTE: start of main page */
.main-home {
  display: flex;
}

.container {
  margin: 0 auto 0 auto; /* top, right, bottom, left; makes the wrapper completely centered in the website and auto is to make it centered */
  width: auto;
  height: auto;
}

.intro {
  margin-left: 16rem;
  padding-top: 8rem;
  padding-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #ffa07a;
}

.about {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.about p {
  width: 45%;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #4a646c;
}

footer {
  display: flex;
  justify-content: center;
}

/* NOTE: project page starts here */

.project-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display:flex;
  max-width: 1000px;
  margin-right: 4rem;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.right-content {
  padding-left: 5rem;
  padding-top: 4rem;
  width:  50%;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #ffa07a;
}

.right-content p{
  color: #4a646c;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding-top: 1rem;
}

div a {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight:500;
  color: #E6DA9D;
}

/* NOTE: transitions */

.navlist a  {
  transition-property: color;
  transition-property: font-size;
  transition-duration: 500ms;
}

.navlist a:hover {
  color: #994d00;
  font-size: 30px;
}

div a {
  transition-property: color;
  transition-property: font-size;
  transition-duration: 500ms;
}

div a:hover {
  color: #527a7a;
  font-size: 20px;
}

.right-content p{
  transition-property: color;
  transition-duration: 500ms;
}

.right-content p:hover {
  color: #85adad;
}
